openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: http://web.qualityautomacao.com.br
    description: Generated server url
paths:
  /INTEGRACAO/RECEBER_TITULO_CONVERTIDO:
    put:
      tags:
        - Integrações
      operationId: receberTituloConvertido
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoReceberTitulo"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/RECEBER_TITULO:
    put:
      tags:
        - Integrações
      operationId: receberTitulo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoReceberTitulo"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/RECEBER_CHEQUE:
    put:
      tags:
        - Integrações
      operationId: receberCheque
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoReceberCheque"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/RECEBER_CARTAO:
    put:
      tags:
        - Integrações
      operationId: receberCartoes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReceberCartoesDto"
        required: true
      responses:
        "200":
          description: OK
  /INTEGRACAO/REAJUSTAR_ESTOQUE_PRODUTO_COMBUSTIVEL:
    put:
      tags:
        - Integrações
      operationId: reajustarEstoqueProdutoCombustivel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReajustarProdutoCombustivel"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/GRUPO_CLIENTE/{id}:
    put:
      tags:
        - Integrações
      operationId: alterarClienteGrupo
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClienteGrupo"
        required: true
      responses:
        "204":
          description: No Content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoClienteGrupo"
  /INTEGRACAO/CLIENTE/{id}:
    put:
      tags:
        - Integrações
      operationId: alterarCliente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoClienteCadastro"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/ALTERAR_PRODUTO/{id}:
    put:
      tags:
        - Integrações
      operationId: alterarProduto
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoProdutoCadastro"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/TRANSFERENCIA_BANCARIA:
    get:
      tags:
        - Integrações
      operationId: consultarTransferenciaBancaria
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: tipoInclusao
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: contaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoIntegracaoTransferencia"
    post:
      tags:
        - Integrações
      operationId: incluirTransferencia
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParametrosIncluirTransferencia"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/TITULO_PAGAR:
    get:
      tags:
        - Integrações
      operationId: consultarTituloPagar
      parameters:
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: apenasPendente
          in: query
          required: false
          schema:
            type: boolean
        - name: dataFiltro
          in: query
          required: true
          schema:
            type: string
            enum:
              - MOVIMENTO
              - VENCIMENTO
              - PAGAMENTO
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: notaEntradaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: tituloPagarCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: linhaDigitavel
          in: query
          required: false
          schema:
            type: string
        - name: autorizado
          in: query
          required: false
          schema:
            type: boolean
        - name: tipoLancamento
          in: query
          required: false
          schema:
            type: string
            enum:
              - BOLETO
              - TRIBUTO
              - CREDITO_CONTA
              - TED
              - DOC
              - PIX
              - LANCAMENTO_MANUAL
              - CONVENIO
              - PIX_QRCODE
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoTituloPagarRede"
    post:
      tags:
        - Integrações
      operationId: incluirTituloPagar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncluirTituloDto"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonObject"
  /INTEGRACAO/REVENDEDORES_ANP:
    post:
      tags:
        - Integrações
      operationId: consultarRevendedores
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /INTEGRACAO/REAJUSTAR_PRODUTO:
    post:
      tags:
        - Integrações
      operationId: reajustarProduto
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AjusteEstoqueProduto"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/PRODUTO_INVENTARIO:
    post:
      tags:
        - Integrações
      operationId: produtoInventario
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProdutoInventario"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/PEDIDO_COMPRAS:
    post:
      tags:
        - Integrações
      operationId: pedidoCompra
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CorpoPedidoCompra"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonObject"
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO:
    post:
      tags:
        - Integração Pedido Combustível
      operationId: incluirPedido
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoPedidoCombustivelPedido"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoCadastroPedido"
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}/FATURAR:
    post:
      tags:
        - Integração Pedido Combustível
      operationId: pedidoFaturar
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoPedidoCombustivelFaturar"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}/DANFE:
    post:
      tags:
        - Integração Pedido Combustível
      operationId: pedidoDanfe
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /INTEGRACAO/CLIENTE:
    get:
      tags:
        - Integrações
      operationId: consultarCliente
      parameters:
        - name: clienteCodigoExterno
          in: query
          required: false
          schema:
            type: string
        - name: clienteCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: retornaObservacoes
          in: query
          required: true
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoClienteRede"
    post:
      tags:
        - Integrações
      operationId: incluirCliente
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoClienteCadastro"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoCadastroCliente"
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/CLIENTE:
    get:
      tags:
        - Integração Pedido Combustível
      operationId: clienteConsultar
      parameters:
        - name: cnpjCpf
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DadosCliente"
    post:
      tags:
        - Integrações
      operationId: incluirCliente_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoClienteCadastro"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoCadastroCliente"
  /INTEGRACAO/LANCAMENTO_CONTABIL:
    get:
      tags:
        - Integrações
      operationId: consultarLancamentoContabil
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: loteContabil
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoIntegracaoLancamentoContabil"
    post:
      tags:
        - Integrações
      operationId: incluirLancamentoContabil
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParametrosIncluirLoteContabil"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoIncluirLoteContabil"
  /INTEGRACAO/INCLUIR_PRODUTO:
    post:
      tags:
        - Integrações
      operationId: incluirProduto
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoProdutoCadastro"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoCadastroProduto"
  /INTEGRACAO/INCLUIR_OFX:
    post:
      tags:
        - Integrações
      operationId: incluirOfx
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParamIncluirOfx"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/GRUPO_CLIENTE:
    get:
      tags:
        - Integrações
      operationId: consultarGrupoCliente
      parameters:
        - name: grupoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: grupoCodigoExterno
          in: query
          required: false
          schema:
            type: string
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoGrupoClienteRede"
    post:
      tags:
        - Integrações
      operationId: incluirClienteGrupo
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClienteGrupo"
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoClienteGrupo"
  /INTEGRACAO/ENVIO_WHATSAPP:
    post:
      tags:
        - Integrações
      operationId: envioWhataApp
      parameters:
        - name: destinatario
          in: header
          required: true
          schema:
            type: string
        - name: filial
          in: header
          required: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/INTEGRACAO_ENVIO_WHATSAPP_body"
      responses:
        "200":
          description: OK
  /INTEGRACAO/ENVIO_EMAIL:
    post:
      tags:
        - Integrações
      operationId: envioEmail
      parameters:
        - name: destinatario
          in: header
          required: true
          schema:
            type: string
        - name: filial
          in: header
          required: false
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/INTEGRACAO_ENVIO_EMAIL_body"
      responses:
        "200":
          description: OK
  /INTEGRACAO/CLIENTE_UNIDADE_NEGOCIO:
    post:
      tags:
        - Integrações
      operationId: vincularClienteUnidadeNegocio
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VincularClienteUnidadeNegocio"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/CLIENTE_PRAZO/{codigoCliente}:
    post:
      tags:
        - Integrações
      operationId: incluirClientePrazo
      parameters:
        - name: codigoCliente
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegracaoListaClientePrazo"
        required: true
      responses:
        "201":
          description: Created
  /INTEGRACAO/CARTAO:
    get:
      tags:
        - Integrações
      operationId: consultarCartao
      parameters:
        - name: turno
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: apenasPendente
          in: query
          required: false
          schema:
            type: boolean
        - name: dataFiltro
          in: query
          required: true
          schema:
            type: string
            enum:
              - MOVIMENTO
              - VENCIMENTO
              - PAGAMENTO
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: vendaCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoCartaoRede"
    post:
      tags:
        - Integrações
      operationId: incluirCartao
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncluirAlterarCartaoDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonObject"
  /INTEGRACAO/AUTORIZA_PAGAMENTO_ABASTECIMENTO:
    post:
      tags:
        - Integrações
      operationId: autorizaPagamentoAbastecimento
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutorizaPagamentoAbastecimento"
        required: true
      responses:
        "200":
          description: OK
          content: {}
  /INTEGRACAO/AUTORIZAR_NFE_SAIDA/{notaCodigo}:
    post:
      tags:
        - Integrações
      operationId: autorizarNfe
      parameters:
        - name: notaCodigo
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/xml:
            schema:
              type: string
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/ALTERACAO_PRECO_COMBUSTIVEL:
    post:
      tags:
        - Integrações
      operationId: alterarPrecoCombustivel
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/TrocaPreco"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/TITULO_PAGAR/PAGAR:
    patch:
      tags:
        - Integrações
      operationId: pagarTituloPagar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PagarTituloDto"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/CARTAO/{id}:
    delete:
      tags:
        - Integrações
      operationId: excluirCartao
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
    patch:
      tags:
        - Integrações
      operationId: alterarCartao
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncluirAlterarCartaoDto"
        required: true
      responses:
        "204":
          description: No Content
  /INTEGRACAO/VENDA_RESUMO:
    get:
      tags:
        - Integrações
      operationId: vendaResumo
      parameters:
        - name: empresaCodigo
          in: query
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: situacao
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VendaResumo"
  /INTEGRACAO/VENDA_ITEM:
    get:
      tags:
        - Integrações
      operationId: consultarVendaItem
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: usaProdutoLmc
          in: query
          required: true
          schema:
            type: boolean
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: tipoData
          in: query
          required: true
          schema:
            type: string
            enum:
              - EMISSAO
              - ENTRADA
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: vendaCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoVendaItemRede"
  /INTEGRACAO/VENDA_FORMA_PAGAMENTO:
    get:
      tags:
        - Integrações
      operationId: consultarVendaFormaPagamento
      parameters:
        - name: turno
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: modeloDocumento
          in: query
          required: false
          schema:
            type: string
        - name: tipoData
          in: query
          required: true
          schema:
            type: string
            enum:
              - EMISSAO
              - ENTRADA
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: vendaCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: situacao
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoVendaFormaPagamentoRede"
  /INTEGRACAO/VENDA:
    get:
      tags:
        - Integrações
      operationId: consultarVenda
      parameters:
        - name: turno
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: modeloDocumento
          in: query
          required: false
          schema:
            type: string
        - name: tipoData
          in: query
          required: true
          schema:
            type: string
            enum:
              - EMISSAO
              - ENTRADA
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: vendaCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: situacao
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoVendaRede"
  /INTEGRACAO/VENDA/{idList}:
    get:
      tags:
        - Integrações
      operationId: consultarVendaCompleta
      parameters:
        - name: idList
          in: path
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoVendaRede"
  /INTEGRACAO/VALE_FUNCIONARIO:
    get:
      tags:
        - Integrações
      operationId: consultarValeFuncionario
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: quitado
          in: query
          required: false
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: origem
          in: query
          description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
          required: false
          schema:
            pattern: "[CDV]"
            type: string
            description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
            enum:
              - C
              - D
              - V
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoValeFuncionarioRede"
  /INTEGRACAO/USUARIO_EMPRESA:
    get:
      tags:
        - Integrações
      operationId: consultarUsuarioEmpresa
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoUsuarioEmpresaRede"
  /INTEGRACAO/USUARIO:
    get:
      tags:
        - Integrações
      operationId: consultarUsuario
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoUsuarioRede"
  /INTEGRACAO/TROCA_PRECO:
    get:
      tags:
        - Integrações
      operationId: trocaPreco
      parameters:
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: realizada
          in: query
          required: false
          schema:
            type: boolean
        - name: tipoProduto
          in: query
          required: false
          schema:
            type: string
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoIntegracaoTrocaPreco"
  /INTEGRACAO/TITULO_RECEBER:
    get:
      tags:
        - Integrações
      operationId: consultarTituloReceber
      parameters:
        - name: turno
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: apenasPendente
          in: query
          required: false
          schema:
            type: boolean
        - name: codigoDuplicata
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataFiltro
          in: query
          required: true
          schema:
            type: string
            enum:
              - MOVIMENTO
              - VENCIMENTO
              - PAGAMENTO
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: convertido
          in: query
          description: "\n                true = títulos a receber que foram convertidos\n                false = títulos a receber que não foram convertido\n                null ou não informado = todos os títulos a receber.\n            "
          required: false
          schema:
            type: boolean
            description: "\n                true = títulos a receber que foram convertidos\n                false = títulos a receber que não foram convertido\n                null ou não informado = todos os títulos a receber.\n            "
            enum:
              - true
              - false
              - false
        - name: vendaCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoTituloReceberRede"
  /INTEGRACAO/TANQUE:
    get:
      tags:
        - Integrações
      operationId: consultarTanque
      parameters:
        - name: tanqueCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoTanqueRede"
  /INTEGRACAO/SAT:
    get:
      tags:
        - Integrações
      operationId: consultarSat
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: quitado
          in: query
          required: false
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: origem
          in: query
          description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
          required: false
          schema:
            pattern: "[CDV]"
            type: string
            description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
            enum:
              - C
              - D
              - V
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoSatRede"
  /INTEGRACAO/SANGRIA_CAIXA:
    get:
      tags:
        - Integrações
      operationId: sangriaCaixa
      parameters:
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: caixaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: funcionarioCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoSangriaCaixa"
  /INTEGRACAO/PRODUTO_META:
    get:
      tags:
        - Integrações
      operationId: consultarProdutoMeta
      parameters:
        - name: grupoMetaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoProdutoMeta"
  /INTEGRACAO/PRODUTO_LMC_LMP:
    get:
      tags:
        - Integrações
      operationId: consultarProdutoLmcLmp
      parameters:
        - name: codigoProdutLmc
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RetornoProdutoLmc"
  /INTEGRACAO/PRODUTO_ESTOQUE:
    get:
      tags:
        - Integrações
      operationId: consultarProdutoEstoque
      parameters:
        - name: empresaCodigo
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: dataHora
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: grupoCodigo
          in: query
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
        - name: produtoCodigo
          in: query
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoProdutoEstoque"
  /INTEGRACAO/PRODUTO_EMPRESA:
    get:
      tags:
        - Integrações
      operationId: consultarProdutoEmpresa
      parameters:
        - name: usaProdutoLmc
          in: query
          required: true
          schema:
            type: boolean
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoProdutoEmpresaRede"
  /INTEGRACAO/PRODUTO:
    get:
      tags:
        - Integrações
      operationId: consultarProduto
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: produtoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: produtoCodigoExterno
          in: query
          required: false
          schema:
            type: string
        - name: usaProdutoLmc
          in: query
          required: true
          schema:
            type: boolean
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoProdutoRede"
  /INTEGRACAO/PRAZOS:
    get:
      tags:
        - Integrações
      operationId: consultarPrazos
      parameters:
        - name: prazoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: prazoCodigoExterno
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RetornoPrazos"
  /INTEGRACAO/PLANO_CONTA_GERENCIAL:
    get:
      tags:
        - Integrações
      operationId: consultarPlanoContaGerencial
      parameters:
        - name: planoContaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoPlanoContaGerencial"
  /INTEGRACAO/PLANO_CONTA_CONTABIL:
    get:
      tags:
        - Integrações
      operationId: consultarPlanoContaContabil
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoPlanoContaContabil"
  /INTEGRACAO/PLACARES:
    get:
      tags:
        - Integrações
      operationId: consultarPlacares
      parameters:
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Placares"
  /INTEGRACAO/PIS_COFINS:
    get:
      tags:
        - Integrações
      operationId: consultarPisconfins
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoPisCofins"
  /INTEGRACAO/PEDIDO_TRR:
    get:
      tags:
        - Integrações
      operationId: consultarTrrPedido
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: pedidoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoPedidoTrr"
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PRODUTO:
    get:
      tags:
        - Integração Pedido Combustível
      operationId: consultarProdutoCombustivel
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProdutoCombustivel"
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}:
    get:
      tags:
        - Integração Pedido Combustível
      operationId: consultarPedido
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetonoConsultarPedido"
    delete:
      tags:
        - Integração Pedido Combustível
      operationId: excluirPedido
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "204":
          description: No Content
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/{id}/XML:
    get:
      tags:
        - Integração Pedido Combustível
      operationId: pedidoXml
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /INTEGRACAO/PEDIDO_COMBUSTIVEL/PEDIDO/STATUS:
    get:
      tags:
        - Integração Pedido Combustível
      operationId: pedidoStatus
      parameters:
        - name: pedidos
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IntegracaoPedidoNotificar"
  /INTEGRACAO/PDV:
    get:
      tags:
        - Integrações
      operationId: consultarPdv
      parameters:
        - name: pdvReferencia
          in: query
          required: false
          schema:
            type: string
        - name: pdvCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoPdvRede"
  /INTEGRACAO/NOTA_SERVICO:
    get:
      tags:
        - Integrações
      operationId: consultarNfse
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: quitado
          in: query
          required: false
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: origem
          in: query
          description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
          required: false
          schema:
            pattern: "[CDV]"
            type: string
            description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
            enum:
              - C
              - D
              - V
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoNfseRede"
  /INTEGRACAO/NOTA_SAIDA_ITEM:
    get:
      tags:
        - Integrações
      operationId: consultarNotaSaidaItem
      parameters:
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: notaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: notaItemCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoNotaSaidaItemRede"
  /INTEGRACAO/NFE_SAIDA:
    get:
      tags:
        - Integrações
      operationId: consultarNfeSaida
      parameters:
        - name: chaveDocumento
          in: query
          required: false
          schema:
            type: string
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: situacao
          in: query
          required: false
          schema:
            type: string
        - name: numeroDocumento
          in: query
          required: false
          schema:
            type: string
        - name: serieDocumento
          in: query
          required: false
          schema:
            type: string
        - name: notaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: gerouVenda
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoNotaSaidaRede"
  /INTEGRACAO/NFE/XML:
    get:
      tags:
        - Integrações
      operationId: consultaNfeXml
      parameters:
        - name: id
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: modeloDocumento
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: numeroDocumento
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: serieDocumento
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: situacao
          in: query
          description: "\nA = Autorizada\nC = Cancelada\nD = Denegada\nI = Inutilizada\n            "
          required: false
          schema:
            pattern: "[ACDI]"
            type: string
            description: "\nA = Autorizada\nC = Cancelada\nD = Denegada\nI = Inutilizada\n            "
            enum:
              - A
              - C
              - D
              - I
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /INTEGRACAO/NFCE:
    get:
      tags:
        - Integrações
      operationId: consultarNfce
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: situacao
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoNfceRede"
  /INTEGRACAO/NFCE/{id}/XML:
    get:
      tags:
        - Integrações
      operationId: consultNfceaXml
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: modeloDocumento
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: numeroDocumento
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: serieDocumento
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /INTEGRACAO/MOVIMENTO_CONTA:
    get:
      tags:
        - Integrações
      operationId: consultarMovimentoConta
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: mostraSaldo
          in: query
          required: true
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: documentoOrigemCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: tipoDocumentoOrigem
          in: query
          required: false
          schema:
            type: string
            enum:
              - NAO_IDENTIFICADO
              - CARTA_FRETE_DUPLICATA
              - CARTA_FRETE
              - CARTAO_REMESSA
              - CHEQUE_DEVOLVIDO
              - ACRESCIMO_DUPLICATA
              - TRANSFERENCIA
              - DESPESA_CHEQUE
              - CHEQUE_PAGAR
              - MANUAL
              - CREDITO_FUNCIONARIO
              - CREDITO_FUNCIONARIO_DUPLICATA
              - DESCONTO_DUPLICATA
              - TAXA_ANTECIPACAO_CARTAO
              - NOTA_DUPLICATA
              - NOTA
              - PRE_PAGO
              - CHEQUE_REMESSA
              - CARTAO
              - SUPRIMENTO
              - TITULO_PAGAR
              - CHEQUE
              - VALE_RECEBIMENTO
              - VALE_PAGAMENTO
              - CAIXA
              - CHEQUE_TROCADO
              - TROCO_DUPLICATA
              - TITULO_PAGAR_PAGAMENTO
              - SERVICO_CAIXA
              - TAXA_TRANSACAO
              - ACRESCIMO_TITULO_PAGAR
              - DESCONTO_TITULO_PAGAR
              - DESPESA_USO_CONSUMO
              - TROCO_CAIXA
              - DESCONTO_VALE_RECEBER
              - DESCONTO_VALE_PAGAR
              - JUROS_CHEQUE_RECEBER
              - EMPRESTIMO
              - FUNDO_CAIXA_CREDITO
              - FUNDO_CAIXA_DEBITO
              - CASH_BACK
              - ADIANTAMENTO
              - TRANSFERENCIA_BANCARIA
              - ORDEM_PAGAMENTO_RECEITA
              - ORDEM_PAGAMENTO_DESPESA
              - TROCO_CHEQUE_REMESSA
              - RECARGA_CELULAR
              - EMPRESTIMO_GERADO_TITULO_RECEBER
              - TRANSFERENCIA_SANGRIA
              - TAXA_TRANSFERENCIA
              - FALTA_CAIXA
              - SOBRA_CAIXA
              - CAIXA_SANGRIA
              - DESPESA_ADQUIRENTE
              - ACRESCIMO_CARTAO
              - DESCONTO_CARTAO
              - REMESSA_RECEBIMENTO
              - DUCHA
              - CARTAO_PAGAR
              - TROCO_DIGITAL
              - ENTRADA_ANTECIPADA_SANGRIA
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoMovimentoConta"
  /INTEGRACAO/MAPA_DESEMPENHO:
    get:
      tags:
        - Integrações
      operationId: consultarRelatorioMapa
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: quitado
          in: query
          required: false
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: origem
          in: query
          description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
          required: false
          schema:
            pattern: "[CDV]"
            type: string
            description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
            enum:
              - C
              - D
              - V
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RelatorioMapaDesempenho"
  /INTEGRACAO/ICMS:
    get:
      tags:
        - Integrações
      operationId: consultarIcms
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoIcms"
  /INTEGRACAO/GRUPO_META:
    get:
      tags:
        - Integrações
      operationId: consultarGrupoMeta
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoGrupoMetaRede"
  /INTEGRACAO/GRUPO:
    get:
      tags:
        - Integrações
      operationId: consultarGrupo
      parameters:
        - name: grupoCodigoExterno
          in: query
          required: false
          schema:
            type: string
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoGrupoRede"
  /INTEGRACAO/FUNCOES:
    get:
      tags:
        - Integrações
      operationId: consultarFuncoes
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoFuncoesRede"
  /INTEGRACAO/FUNCIONARIO_META:
    get:
      tags:
        - Integrações
      operationId: consultarFuncionarioMeta
      parameters:
        - name: grupoMetaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoFuncionarioMeta"
  /INTEGRACAO/FUNCIONARIO:
    get:
      tags:
        - Integrações
      operationId: consultarFuncionario
      parameters:
        - name: funcionarioCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoFuncionarioRede"
  /INTEGRACAO/FORNECEDOR:
    get:
      tags:
        - Integrações
      operationId: consultarFornecedor
      parameters:
        - name: retornaObservacoes
          in: query
          required: true
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoFornecedorRede"
  /INTEGRACAO/FORMA_PAGAMENTO:
    get:
      tags:
        - Integrações
      operationId: consultarFormaPagamento
      parameters:
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoFormaPagamentoRede"
  /INTEGRACAO/FINANCEIRO_EXCLUSAO:
    get:
      tags:
        - Integrações
      operationId: consultarEsclusaoFinanceiro
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataHoraInicial
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: dataHoraFinal
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoFinanceiroExclusao"
  /INTEGRACAO/ESTOQUE_PERIODO:
    get:
      tags:
        - Integrações
      operationId: estoquePeriodo
      parameters:
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoEstoqueFechamento"
  /INTEGRACAO/EMPRESAS:
    get:
      tags:
        - Integrações
      operationId: consultarEmpresa
      parameters:
        - name: empresaCodigoExterno
          in: query
          required: false
          schema:
            type: string
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoEmpresasRede"
  /INTEGRACAO/DUPLICATA:
    get:
      tags:
        - Integrações
      operationId: consultarDuplicata
      parameters:
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: apenasPendente
          in: query
          required: false
          schema:
            type: boolean
        - name: dataFiltro
          in: query
          required: true
          schema:
            type: string
            enum:
              - MOVIMENTO
              - VENCIMENTO
              - PAGAMENTO
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: notaEntradaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: tituloPagarCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: linhaDigitavel
          in: query
          required: false
          schema:
            type: string
        - name: autorizado
          in: query
          required: false
          schema:
            type: boolean
        - name: tipoLancamento
          in: query
          required: false
          schema:
            type: string
            enum:
              - BOLETO
              - TRIBUTO
              - CREDITO_CONTA
              - TED
              - DOC
              - PIX
              - LANCAMENTO_MANUAL
              - CONVENIO
              - PIX_QRCODE
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoDuplicataRede"
  /INTEGRACAO/DRE:
    get:
      tags:
        - Integrações
      operationId: consultarDre
      parameters:
        - name: apuracaoCaixa
          in: query
          required: true
          schema:
            type: boolean
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: cfopOutrasSaidas
          in: query
          required: true
          schema:
            type: boolean
        - name: apurarJurosDescontos
          in: query
          required: true
          schema:
            type: boolean
        - name: filiais
          in: query
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: integer
              format: int32
        - name: centroCustoCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: apurarCentroCustoProduto
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DRE"
  /INTEGRACAO/DFE_XML:
    get:
      tags:
        - Integrações
      operationId: dfeXml
      parameters:
        - name: modeloDocumento
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: numeroDocumento
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: serieDocumento
          in: query
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
  /INTEGRACAO/CONTA:
    get:
      tags:
        - Integrações
      operationId: consultarConta
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoContaRede"
  /INTEGRACAO/CONTAGEM_ESTOQUE:
    get:
      tags:
        - Integrações
      operationId: consultarContagemEstoque
      parameters:
        - name: dataContagem
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: contagemReferencia
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoContagemEstoqueRede"
  /INTEGRACAO/CONSUMO_CLIENTE:
    get:
      tags:
        - Integrações
      operationId: consumoCliente
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoIntegracaoConsumoCliente"
  /INTEGRACAO/CONSULTAR_VIEW:
    get:
      tags:
        - Integrações
      operationId: consultarView
      parameters:
        - name: dias
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: volumeMinimo
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: view
          in: query
          required: true
          schema:
            type: string
        - name: chave
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonArray"
  /INTEGRACAO/CONSULTAR_SUB_GRUPO_REDE:
    get:
      tags:
        - Integrações
      operationId: consultarSubGrupoRede
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProdutoSubGrupo1"
  /INTEGRACAO/CONSULTAR_PRECO_IDENTIFID:
    get:
      tags:
        - Integrações
      operationId: consultarPrecoIdenfitid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonObject"
  /INTEGRACAO/CONSULTAR_LMC_REDE:
    get:
      tags:
        - Integrações
      operationId: consultarLmc
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: quitado
          in: query
          required: false
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: origem
          in: query
          description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
          required: false
          schema:
            pattern: "[CDV]"
            type: string
            description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
            enum:
              - C
              - D
              - V
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoLmcRede"
  /INTEGRACAO/LMC:
    get:
      tags:
        - Integrações
      operationId: consultarLmc_1
      parameters:
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: vendaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: quitado
          in: query
          required: false
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: origem
          in: query
          description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
          required: false
          schema:
            pattern: "[CDV]"
            type: string
            description: "\n                C = Sobra de Caixa\n                D = Falta de Caixa\n                V = Vale\n            "
            enum:
              - C
              - D
              - V
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoLmcRede"
  /INTEGRACAO/CONSULTAR_FUNCIONARIO_IDENTFID:
    get:
      tags:
        - Integrações
      operationId: consultarFuncionarioIdenfitid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FuncionarioIdentifid"
  /INTEGRACAO/CONSULTAR_DESPESAS_FINANCEIRO_REDE:
    get:
      tags:
        - Integrações
      operationId: consultarDespesaFinanceiroRede
      parameters:
        - name: dataInicial
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: apuracaoCaixa
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DespesaFinanceiro"
  /INTEGRACAO/CONSULTAR_CARTOES_CLUBGAS:
    get:
      tags:
        - Integrações
      operationId: consultarCartoesClubgas
      parameters:
        - name: nomeTabela
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClubGas"
  /INTEGRACAO/COMPRA_ITEM:
    get:
      tags:
        - Integrações
      operationId: consultarCompraItem
      parameters:
        - name: turno
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: usaProdutoLmc
          in: query
          required: true
          schema:
            type: boolean
        - name: compraCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: tipoData
          in: query
          required: true
          schema:
            type: string
            enum:
              - EMISSAO
              - ENTRADA
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: situacao
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoCompraItemRede"
  /INTEGRACAO/COMPRA:
    get:
      tags:
        - Integrações
      operationId: consultarCompra
      parameters:
        - name: turno
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: dataInicial
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: dataFinal
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: tipoData
          in: query
          required: true
          schema:
            type: string
            enum:
              - EMISSAO
              - ENTRADA
        - name: notaSerie
          in: query
          required: false
          schema:
            type: string
        - name: notaNumero
          in: query
          required: false
          schema:
            type: string
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
        - name: vendaCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: situacao
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetornoPaginadoCompraRede"
  /INTEGRACAO/COMPRA/{chaveNfe}/XML:
    get:
      tags:
        - Integrações
      operationId: consultarCompraXml
      parameters:
        - name: chaveNfe
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
  /INTEGRACAO/CNPJ_REDES_PAGPIX:
    get:
      tags:
        - Integrações
      operationId: cnpjRedesPagPix
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CnpjRedesPagPix"
  /INTEGRACAO/CLIENTE_FROTA:
    get:
      tags:
        - Integrações
      operationId: clienteFrota
      parameters:
        - name: clienteCodigoExterno
          in: query
          required: false
          schema:
            type: string
        - name: clienteCodigo
          in: query
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
        - name: empresaCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: retornaObservacoes
          in: query
          required: true
          schema:
            type: boolean
        - name: dataHoraAtualizacao
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ultimoCodigo
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: limite
          in: query
          required: true
          schema:
            maximum: 2000
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
[...]
